---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Certifications from "../components/Certifications.astro";
import Projects from "../components/Projects.astro";
import Volunteering from "../components/Volunteering.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Akanksha Raghvesh">
    <Header />
    <main>
        <Hero />
        <Education />
        <Skills />
        <Experience />
        <Certifications />
        <Projects />
        <Volunteering />
        <!-- <section class="testimonial-section" id="testimonials">
        <div class="container">
            <div class="section-name" data-aos="fade-up">
                <p class="above-title">My clients</p>
                <h4 class="title">Testimonials</h4>
            </div>
            <div class="testimonial-item-wrapper">
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="50">
                    <img class="avatar" src="/assets/img/testimonial-avatar-1.jpg" alt="Amelia Miller">
                    <p class="text">We were very pleased to hear how you resolved our website's user interface issues and challenges.</p>
                    <p class="name">Amelia Miller</p>
                    <p class="tag job-title">Designer</p>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <img class="avatar" src="/assets/img/testimonial-avatar-2.jpg" alt="Amelia Miller">
                    <p class="text">I'm glad I decided to work with you. The project was delivered on time with all the requirements.</p>
                    <p class="name">James Delaney</p>
                    <p class="tag job-title">Developer</p>
                </div>
                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="150">
                    <img class="avatar" src="/assets/img/testimonial-avatar-3.jpg" alt="Amelia Miller">
                    <p class="text">The management of our projects was always faced with difficulties, but you handled these well.</p>
                    <p class="name">Isabella Bennett</p>
                    <p class="tag job-title">Manager</p>
                </div>
            </div>
        </div>
    </section> -->
        <Contact />
    </main>
    <Footer />
</Layout>
