---

---

<footer class="footer">
    <ul class="social-icons" data-aos="fade-up" data-aos-delay="50">
        <li>
            <a href="https://github.com/AkankshaRaghvesh" target="_blank">
                <svg viewBox="0 0 24 24">
                    <use xlink:href="/assets/img/sprite.svg#github-icon"></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/araghvesh/" target="_blank">
                <svg viewBox="0 0 24 24">
                    <use xlink:href="/assets/img/sprite.svg#linkedin-icon"
                    ></use>
                </svg>
            </a>
        </li>
    </ul>
    <p class="copyright" data-aos="fade-up" data-aos-delay="100">
        © <span class="year">2023</span> - Akanksha<span class="bold">
            Raghvesh</span
        >
    </p>
</footer>
