---

---

<section class="hero-section">
    <div class="container">
        <div class="content" data-aos="fade-up">
            <h1 class="full-name staggered-reveal">
                Akanksha <span class="primary">Raghvesh.</span>
            </h1>
            <div class="about-container staggered-reveal">
                <p class="about-text">Cybersecurity Specialist.</p>
                <p class="about-description">
                    I align security with business needs. I adapt quickly to
                    technical challenges across <span class="highlight-text"
                        >Penetration Testing</span
                    >, <span class="highlight-text">SOC</span>, and <span
                        class="highlight-text">Engineering</span
                    >, focusing on solutions that protect without slowing
                    operations down. With a <span class="highlight-text"
                        >Master’s in Cybersecurity</span
                    > and <span class="highlight-text">CompTIA Security+</span>,
                    I bring the right mindset to deliver value from day one.
                </p>
            </div>
            <!-- <a href="/assets/resume.pdf" target="_blank" class="btn btn-outline-light download-resume-mobile">Download Resume</a> -->
            <ul class="social-icons">
                <li>
                    <a
                        href="https://github.com/AkankshaRaghvesh"
                        target="_blank"
                        aria-label="GitHub"
                    >
                        <svg viewBox="0 0 24 24">
                            <use xlink:href="/assets/img/sprite.svg#github-icon"
                            ></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a
                        href="https://www.linkedin.com/in/araghvesh/"
                        target="_blank"
                        aria-label="LinkedIn"
                    >
                        <svg viewBox="0 0 24 24">
                            <use
                                xlink:href="/assets/img/sprite.svg#linkedin-icon"
                            ></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="image" data-aos="fade-up">
            <div class="cover">
                <svg class="lines-vector" viewBox="0 0 199 210">
                    <use xlink:href="/assets/img/sprite.svg#lines-vector"></use>
                </svg>
            </div>
            <img
                class="avatar"
                src="/assets/img/avatar.png"
                alt="Akanksha Raghvesh"
            />
        </div>
    </div>
</section>
