---

---

<section class="portfolio-section" id="portfolios">
    <div class="container">
        <div class="section-header" data-aos="fade-up" data-aos-delay="200">
            <h2 class="section-title">Highlighted Projects</h2>
            <div class="section-line"></div>
            <div class="slider-navigation" style="margin-left: auto;">
                <div class="prev">
                    <svg viewBox="0 0 24 24">
                        <use xlink:href="/assets/img/sprite.svg#arrow-left"
                        ></use>
                    </svg>
                </div>
                <div class="next">
                    <svg viewBox="0 0 24 24">
                        <use xlink:href="/assets/img/sprite.svg#arrow-right"
                        ></use>
                    </svg>
                </div>
            </div>
        </div>
        <div class="portfolio-item-wrapper">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div
                        class="swiper-slide"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <article class="portfolio-item">
                            <figure>
                                <img src="/assets/img/deid.png" />
                            </figure>
                            <div class="detail">
                                <h4 class="title">DeID Anonymizer</h4>
                                <div class="bottom">
                                    <span class="tag">Python</span>
                                    <span class="tag">PyQT5</span>
                                    <span class="tag">PySpark</span>
                                    <a
                                        class="link"
                                        href="https://github.com/AkankshaRaghvesh/DeID-Anonymizer"
                                        target="_blank"
                                    >
                                        <svg viewBox="0 0 24 24">
                                            <use
                                                xlink:href="/assets/img/sprite.svg#link"
                                            ></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div
                        class="swiper-slide"
                        data-aos="fade-up"
                        data-aos-delay="300"
                    >
                        <article class="portfolio-item">
                            <figure>
                                <img src="/assets/img/cambot.png" />
                            </figure>
                            <div class="detail">
                                <h4 class="title">CamBot Line Follower</h4>
                                <div class="bottom">
                                    <span class="tag">AI</span>
                                    <span class="tag">Arduino</span>
                                    <a
                                        class="link"
                                        href="https://www.linkedin.com/in/araghvesh/details/projects/"
                                        target="_blank"
                                    >
                                        <svg viewBox="0 0 24 24">
                                            <use
                                                xlink:href="/assets/img/sprite.svg#link"
                                            ></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div
                        class="swiper-slide"
                        data-aos="fade-up"
                        data-aos-delay="400"
                    >
                        <article class="portfolio-item">
                            <figure>
                                <img src="/assets/img/lc.png" />
                            </figure>
                            <div class="detail">
                                <h4 class="title">Lets_Check (OSINT Tool)</h4>
                                <div class="bottom">
                                    <span class="tag">Python</span>
                                    <a
                                        class="link"
                                        href="https://github.com/Akanksharaghvesh/Lets_Check"
                                        target="_blank"
                                    >
                                        <svg viewBox="0 0 24 24">
                                            <use
                                                xlink:href="/assets/img/sprite.svg#link"
                                            ></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div
                        class="swiper-slide"
                        data-aos="fade-up"
                        data-aos-delay="200"
                    >
                        <article class="portfolio-item">
                            <figure>
                                <img src="/assets/img/phms.png" />
                            </figure>
                            <div class="detail">
                                <h4 class="title">
                                    Patient Health Monitoring System
                                </h4>
                                <div class="bottom">
                                    <span class="tag">IoT</span>
                                    <span class="tag">ESP8266 </span>
                                    <a
                                        class="link"
                                        href="https://www.linkedin.com/in/araghvesh/details/projects/"
                                        target="_blank"
                                    >
                                        <svg viewBox="0 0 24 24">
                                            <use
                                                xlink:href="/assets/img/sprite.svg#link"
                                            ></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
