---

---

<section class="service-section" id="services">
    <div class="container">
        <div class="section-header" data-aos="fade-up">
            <h2 class="section-title">Professional Skills</h2>
            <div class="section-line"></div>
        </div>
        <div class="service-item-wrapper">
            <div class="skills-background"></div>

            <!-- Security Tools -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">Splunk SIEM</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="75">
                <span class="skill-text">Nessus</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="100">
                <span class="skill-text">TCP/IP</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="125">
                <span class="skill-text">Wireshark</span>
            </div>

            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">OWASP ZAP</span>
            </div>

            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">Azure</span>
            </div>

            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">Active Directory</span>
            </div>

            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">JIRA Ticketing System</span>
            </div>

            <div class="skill-item" data-aos="fade-up" data-aos-delay="50">
                <span class="skill-text">Active Directory</span>
            </div>

            <!-- Security Practices -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="150">
                <span class="skill-text">Risk Assessment</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="175">
                <span class="skill-text">BurpSuite</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="200">
                <span class="skill-text">Metasploit</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="225">
                <span class="skill-text">Nmap</span>
            </div>

            <!-- Testing Tools -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="250">
                <span class="skill-text">Aircrack-ng</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="275">
                <span class="skill-text">Security Audit</span>
            </div>

            <!-- Development -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="300">
                <span class="skill-text">Python</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="325">
                <span class="skill-text">PowerShell</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="350">
                <span class="skill-text">SQL</span>
            </div>

            <!-- Systems -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="375">
                <span class="skill-text">Linux</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="400">
                <span class="skill-text">Windows</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="425">
                <span class="skill-text">MacOS</span>
            </div>

            <!-- Infrastructure -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="450">
                <span class="skill-text">VMware</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="475">
                <span class="skill-text">Docker</span>
            </div>
            <!-- Compliance -->
            <div class="skill-item" data-aos="fade-up" data-aos-delay="525">
                <span class="skill-text">NIST</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="550">
                <span class="skill-text">HIPAA</span>
            </div>
            <div class="skill-item" data-aos="fade-up" data-aos-delay="575">
                <span class="skill-text">Microsoft 365</span>
            </div>
        </div>
    </div>
</section>
