---

---

<section class="blog-section" id="blog">
    <div class="container">
        <div class="section-header" data-aos="fade-up">
            <h2 class="section-title">Volunteering</h2>
            <div class="section-line"></div>
        </div>
        <div class="post-item-wrapper">
            <article class="post-item" data-aos="fade-up" data-aos-delay="50">
                <figure>
                    <img src="/assets/img/wicys.png" alt="WiCyS" />
                </figure>
                <div class="content">
                    <h3 class="title">Women in CyberSecurity</h3>
                    <div class="detail">
                        <time class="tag">May 2022 - Present</time>
                    </div>
                    <p class="body">Member ID - 70815527</p>
                </div>
            </article>
            <article class="post-item" data-aos="fade-up" data-aos-delay="100">
                <figure>
                    <img src="/assets/img/drake.png" alt="Drake" />
                </figure>
                <div class="content">
                    <h3 class="title">Drake Elementary School</h3>
                    <div class="detail">
                        <time class="tag">Oct 2022 - Jan 2023</time>
                    </div>
                    <p class="body">Role - Student Volunteer</p>
                </div>
            </article>
            <article class="post-item" data-aos="fade-up" data-aos-delay="150">
                <figure>
                    <img src="/assets/img/adore.png" alt="Adore" />
                </figure>
                <div class="content">
                    <h3 class="title">Adore India</h3>
                    <div class="detail">
                        <time class="tag">Oct 2020 - Jul 2022</time>
                    </div>
                    <p class="body">Role - Student Volunteer</p>
                </div>
            </article>
        </div>
    </div>
</section>
